@{
    ViewData["Title"] = "Home Page";
    Layout = "";
}

<h1>@ViewBag.Nombre @ViewData["Apellido"]</h1>
<h2>@TempData["Usuario"]</h2>

<ul>
    @foreach (var fruta in ViewBag.Frutas)
    {
        <li>@fruta</li>
    }
</ul>
