
<table>
    <thead>
        <td>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>NickName</th>
        </td>
    </thead>
    <tbody>
        td
        @foreach (var usuario in ViewBag.Usuario)
        {
            <tr>@usuario.Nombre</tr>
            <tr>@usuario.Apellido</tr>
            <tr>@usuario.Correo</tr>
            <tr>@usuario.NickName</tr>
        }
    </tbody>
</table>