
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>NickName</th>
        </tr>
    </thead>
    <tbody>
            @foreach (var usuario in ViewBag.Usuario?)
            {
                <tr>
                    <td>@usuario.Nombre</td>
                    <td>@usuario.Apellido</td>
                    <td>@usuario.Correo</td>
                    <td>@usuario.NickName</td>
                </tr>
            }
    </tbody>
</table>