
<table>
    <thead>
        <td>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>NickName</th>
        </td>
    </thead>
    <tbody>
        <tr>
            @foreach (var usuario in ViewBag.Usuario)
            {
                <td>@usuario.Nombre</td>
                <td>@usuario.Apellido</td>
                <td>@usuario.Correo</td>
                <td>@usuario.NickName</td>
            }
        </tr>
    </tbody>
</table>