
<table>
    <thead>
        <td>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>NickName</th>
        </td>
    </thead>
    <tbody>
        @foreach (var usuario in ViewBag.Usuario)
        {
            <li>@usuario.Nombre</li>
            <li>@usuario.Apellido</li>
            <li>@usuario.Correo</li>
            <li>@usuario.NickName</li>
        }
    </tbody>
</table>