
<ul>
    @foreach (var usuario in ViewBag.Usuario)
    {
        <li>@usuario.Nombre</li>
        <li>@usuario.Apellido</li>
        <li>@usuario.Correo</li>
        <li>@usuario.Usuario</li>
    }
</ul>