@{
    ViewData["Title"] = "Home Page";
}

@model Usuario
<div class="container">
    <form asp-action="SetUsuario" asp-controller="Home">
        <div class="form-group col-md-6">
            <label for="">Nombres</label>
            <input type="text" asp-for="Nombre" class="form-control">
            <label asp-validation-for="Usuario" class="label label-danger"></label>

        </div>
        <div class="row">
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>
