@{
    ViewData["Title"] = "Home Page";
}

@model Usuario
<div class="container">
    <form asp-action="SetUsuario" asp-controller="Home">
        <div class="form-group col-md-6">
            <label for="">Nombre</label>
            <input type="text" asp-for="Nombre" class="form-control">
            <label asp-validation-for="Usuario" class="label label-danger"></label>
            
            <label for="">Apellido</label>
            <input type="text" asp-for="Apellido" class="form-control">
            <label asp-validation-for="Apellido" class="label label-danger"></label>
        
            <label for="">NickName</label>
            <input type="text" asp-for="NickName" class="form-control">
            <label asp-validation-for="NickName" class="label label-danger"></label>

            <label for="">Edad</label>
            <input type="number" asp-for="Nombre" class="form-control">
            <label asp-validation-for="Usuario" class="label label-danger"></label>

            <label for="">Nombres</label>
            <input type="text" asp-for="Nombre" class="form-control">
            <label asp-validation-for="Usuario" class="label label-danger"></label>

            <label for="">Nombres</label>
            <input type="text" asp-for="Nombre" class="form-control">
            <label asp-validation-for="Usuario" class="label label-danger"></label>

            <label for="">Nombres</label>
            <input type="text" asp-for="Nombre" class="form-control">
            <label asp-validation-for="Usuario" class="label label-danger"></label>

            <label for="">Nombres</label>
            <input type="text" asp-for="Nombre" class="form-control">
            <label asp-validation-for="Usuario" class="label label-danger"></label>
        </div>
        <div class="row">
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>
