@{
    ViewData["Title"] = "Home Page";
}

@model Usuario
<div class="container">
    <form asp-action="SetUsuario" asp-controller="Home" method="POST">
        <div form-group col-md-6>
            <label for="">Nombre</label>
            <input type="text" asp-for="Nombre" class="form-control">
            <span asp-validation-for="Nombre" class="label label-danger"></span>
        </div>
        <div form-group col-md-6>
            <label for="">Apellido</label>
            <input type="text" asp-for="Apellido" class="form-control">
            <span asp-validation-for="Apellido" class="label label-danger"></span>
        </div>
            
        <div form-group col-md-6>
            <label for="">NickName</label>
            <input type="text" asp-for="NickName" class="form-control">
            <span asp-validation-for="NickName" class="label label-danger"></span>
        </div>
            
        <div form-group col-md-6>
            <label for="">Edad</label>
            <input type="number" asp-for="Edad" class="form-control">
            <span asp-validation-for="Edad" class="label label-danger"></span>
        </div>
            
        <div form-group col-md-6>
            <label for="">Correo</label>
            <input type="email" asp-for="Correo" class="form-control">
            <span asp-validation-for="Correo" class="label label-danger"></span>
        </div>
            
        <div form-group col-md-6>
            <label for="">Fecha de Nacimiento</label>
            <input type="date" asp-for="FechaNacimiento" class="form-control">
            <span asp-validation-for="FechaNacimiento" class="label label-danger"></span>
        </div>
            
        <div form-group col-md-6>
            <label for="">Activo</label>
            <input type="checkbox" asp-for="Activo" class="form-control">
            <span asp-validation-for="Activo" class="label label-danger"></span>
        </div>
            
        <div class="row">
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>
