@{
    ViewData["Title"] = "Home Page";
}

@model Usuario
<div class="container">
    <form asp-action="SetUsuario" asp-controller="Home">
        <div form-group col-md-6>
            <label for="">Nombre</label>
            <input type="text" asp-for="Nombre" class="form-control">
            <label asp-validation-for="Usuario" class="label label-danger"></label>
            <div form-group col-md-6>
        </div>
        <div form-group col-md-6>
            <label for="">Apellido</label>
            <input type="text" asp-for="Apellido" class="form-control">
            <label asp-validation-for="Apellido" class="label label-danger"></label>
        </div>
            
        <div form-group col-md-6>
            <label for="">NickName</label>
            <input type="text" asp-for="NickName" class="form-control">
            <label asp-validation-for="NickName" class="label label-danger"></label>
        </div>
            
        <div form-group col-md-6>
                
        </div>
            <label for="">Edad</label>
            <input type="number" asp-for="Edad" class="form-control">
            <label asp-validation-for="Edad" class="label label-danger"></label>
<div form-group col-md-6>
                
        </div>
            <label for="">Correo</label>
            <input type="email" asp-for="Correo" class="form-control">
            <label asp-validation-for="Correo" class="label label-danger"></label>
<div form-group col-md-6>
                
        </div>
            <label for="">Fecha de Nacimiento</label>
            <input type="datetime" asp-for="FechaNacimiento" class="form-control">
            <label asp-validation-for="FechaNacimiento" class="label label-danger"></label>
        <div form-group col-md-6>
                
        </div>
            <label for="">Activo</label>
            <input type="checkbox" asp-for="Activo" class="form-control">
            <label asp-validation-for="Activo" class="label label-danger"></label>
        <div class="row">
            <button type="submit">Guardar</button>
        </div>
    </form>
</div>
