@{
    ViewData["Title"] = "Home Page";
}

@model Usuario
<div class="container">
    <div class="form-group col-md-6">
        <label for="">Nombres</label>
        <input asp-for="Nombres" class="form-control">
        validatio
    </div>
</div>
